* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body {
    line-height: 1.4;
    width: 100%;
    /* color: var(--dark); */
}
.navbar-brand {
    background-color: black;
    color: #fff;
    font-size: 4rem;
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: var(--Playfair);
    letter-spacing: 1px;
    width: 100%;
}
.container {
    /* max-width: 1320px; */
    margin: 0 auto;
    margin-top: -10px;
    padding: 0 1.2rem;
    background: rgba(203, 134, 134, 0.6);
    padding: 1.2rem;
    padding: 0.8rem 0 0.2rem 0;
    text-align: center;
    font-family: var(--Playfair);
    font-size: 2rem;
    color: #fff;
}
.container a {
    text-transform: uppercase;
    font-family: var(--Roboto);
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 1.3rem;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 0.4rem 0.1rem;
    letter-spacing: 3px;
    transition: opacity 0.5s ease;

}
.container a:hover {
    opacity: 0.7;
}
#home {
    font-family: sans-serif;
    color: antiquewhite;
}